<div class="box">
    <p>With an inteGIRLS Universal Account, you'll be able to log in to all inteGIRLS services without
        having to create separate accounts.
    </p>
    <a class="button button-primary" href="/login">Login / Signup</a>
</div>