<%
dateFmt = (d) => {
    return (d.getMonth()+1)+'/'+d.getDate()+'/' + d.getFullYear(); 
}

b16 = (s) => new Buffer(s).toString('base64')
%>

<% if (locals.updatedStatus === "success") { %>
<div class="notification success">
    <p>🎉 Your profile has been updated successfully!</p>
</div>
<% } else if (locals.updatedStatus === "error") { %>
<div class="notification error">
    <p>😢 Something went wrong with updating your profile.</p>
</div>
<% } %>

<div class="box">
    <div class="row">
        <div class="four columns">
            <div style="text-align: center;">
                <a href="/picture">
                    <img src="<%- user.picture %>" class="avatar"><br />
                    Update Picture
                </a>
            </div>
        </div>
        <div class="eight columns">
            <h2><ion-icon name="person-circle-outline"></ion-icon><span>My Account <a href="/refresh" class="forceUpdate">(Force Reload)</a></span></h2>
            <div class="row">
                <div class="six columns">
                    <label>Primary Email (<% if (user.email_verified) { %>Verified<% } else { %>Not Verified<% } %>)</label>
                    <p><%= user.email %> <% if (user.email_verified) { %><a href="/update/email">Update</a><% } else { %><a href="/update/resend">Resend Verification</a><% } %></p>
                    
                    <label>User Identifier</label>
                    <p><code><%= user.user_id %></code></p>
                </div>

                <div class="six columns">
                    <label>Nickname</label>
                    <p><%= user.nickname %></p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="box">
    <h2><ion-icon name="navigate-circle-outline"></ion-icon><span>Services Available</span></h2>
    <p>You are able to access the following inteGIRLS platforms with your Passport. Some platforms may allow or require you to link your Passport account.</p>
    <a class="button service" href="https://forum.integirls.org" target="_blank">Forum <% if (user.forum) { %> (Linked)<% } %></a>
    <a class="button service disabled" href="#!" id="discord">Discord <% if (user.identities[1] && user.identities[1].connection == 'discord') { %> (Linked)<% } %> – Coming Soon!</a> 
    <p style="margin-top:1rem">To link your Discord account, <a href="/logout">log out</a> of Passport, and log back in by selecting "Continue with Discord".</p>   
</div>

<script src="https://cdn.auth0.com/js/auth0-spa-js/1.13/auth0-spa-js.production.js"></script>
<script src="/static/js/user.js"></script>