<div class="box">
    <p>With an inteGIRLS Passport, you'll be able to log in to all inteGIRLS services without
        having to create separate accounts.
    </p>
    <a href="/login">
        <img class="branded-login" src="https://static.integirls.org/images/passport/svg/passport-light.svg" height="55">
    </a>
</div>