<%- include('partials/header') %>

<%- include('partials/brand') %>

<div class="box">
    <p>
        <strong>You have been logged out of your inteGIRLS Universal Account.</strong> You may need to individually sign out of the services that you have logged in to
        in order for you to fully remove your presence from this browser.
    </p>
    <a class="button button-primary" href="/login">Login / Signup</a>
</div>

<%- include('partials/footer') %>