body {
  background-color: rgba(242, 184, 216, 0.2);
}

.container {
  margin-top: 10vh;
}

.logo {
  vertical-align: middle;
  display: inline;
  height: 6rem;
  margin-right: 1rem;
}

a.brand {
  color: black;
  text-decoration: none;
}

.button,
.button:hover,
.button:focus {
  background-color: #f2b8d8;
  border-color: #f2b8d8;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary,
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #481431;
  border-color: #481431;
}

.avatar {
  border-radius: 100%;
  height: 15rem;
}

.box {
  padding: 3rem 2rem 2rem;
  margin: 2rem 0;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.button {
  margin: 0 1rem;
}

.button:first-of-type {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

form {
  margin-bottom: 0;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #f2b8d8;
}

input[disabled] {
  color: gray;
  cursor: not-allowed !important;
}

.notification {
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1.5rem 0 1rem;
  font-weight: 600;
}

.notification.success {
  background-color: #00c851;
}

.notification.error {
  background-color: #ff4444;
}

.notification p {
  margin: 0;
}

span.data {
  font-weight: bold;
}

span.hint {
  color: lightgray;
}

a.forceUpdate {
  margin-left: .75rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-weight: bold;
}