body {
  font-family: "Space Grotesk", sans-serif;
}

.container {
  margin-top: 10vh;
}

.logo {
  vertical-align: middle;
  display: inline;
  height: 6rem;
  margin-right: 1rem;
}

a.brand {
  color: black;
  text-decoration: none;
}

.button,
.button:hover,
.button:focus {
  background-color: #f2b8d8;
  border-color: #f2b8d8;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary,
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #481431;
  border-color: #481431;
}

.button * {
  margin-top: -5px;
  display: inline-block;
}

.avatar {
  border-radius: 100%;
  height: 15rem;
}

.box {
  padding: 3rem 3rem;
  margin: 2rem 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
}

.button {
  margin: 0 1rem;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.18);
}

.button:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.button:first-of-type {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h2 {
  font-size: 2.2rem;
}

form {
  margin-bottom: 0;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-color: #f2b8d8;
}

input[disabled] {
  color: gray;
  cursor: not-allowed !important;
}

.notification {
  color: white;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 1.5rem 0 1rem;
  font-weight: 600;
}

.notification.success {
  background-color: #00c851;
}

.notification.error {
  background-color: #ff4444;
}

.notification p {
  margin: 0;
}

span.data {
  font-weight: bold;
}

span.hint {
  color: lightgray;
}

a.forceUpdate {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-weight: bold;
}

img.branded-login {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 0.3s ease 0s;
}

img.branded-login:hover {
  filter: drop-shadow(4px 4px 4px rgba(253, 169, 224, 0.75));
  transform: translateY(-3px);
}

ion-icon, 
ion-icon + *  {
  vertical-align: middle;
}

ion-icon + * {
  margin-left: 5px;
}